@page
@model TestIdentity2.Pages.ManageFood.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Food</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.CreatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.CreatedTime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Food.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
